{{#extend "frame"}}
    {{#content "topStyle"}}
        <link rel="stylesheet" href="{{data.destPath}}style/index.css?v={{data.commonVersion}}" />
    {{/content}}
    {{#content "bottomScript"}}
       <script type="text/javascript" src="{{data.destPath}}script/index.js?v={{data.commonVersion}}"></script>
    {{/content}}
    {{#content "mainContent"}}
     <div class="hello">hhh</div>
    {{/content}}
{{/extend}}